 pre{
    font-size: 18px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: blue;
    /* color: rgb(251, 198, 198); */
    /* color: rgba(230, 30, 167, 0.8); */
    /* color: #78eed7; */
    /* color: hsl(255, 93%, 51%); */
    /* color: hsla(255, 93%, 51%,0.4); */
    

} 

